In [7]:
import pandas as pd

# Load the CSV file
employee_data = pd.read_csv("employee.csv")

In [25]:
def greet_employee(employee_id, data):
    # Find the employee row with the given EID
    employee = data[data['EID'] == employee_id]
    
    if employee.empty:
        return "Employee ID not found."

    # Extract the first name and gender
    first_name = employee['Employee Name'].iloc[0].split()[0]
    gender = employee['Gender'].iloc[0]
    
    # Determine the salutation based on gender
    salutation = "Mr" if gender == "M" else "Ms"
    
    return f"Hello, {salutation} {first_name}"

# Example usage
print(greet_employee("E620Y", employee_data))

Hello, Mr Kumar

In [11]:
def average_salary_by_department(data):
    # Group by Department and calculate the average salary for each
    avg_salary = data.groupby('Department')['Salary'].mean()
    return avg_salary

# Example usage
print(average_salary_by_department(employee_data))

Department
Engineering     650000.0
IT             1200000.0
Products       2075000.0
Research       1350000.0
Semantics      1200000.0
Name: Salary, dtype: float64

In [19]:
def display_employee_details(employee_id, data):
    # Find the employee row with the given EID
    employee = data[data['EID'] == employee_id]
    
    if employee.empty:
        return "Employee ID not found."
    
    # Extract the required details
    name = employee['Employee Name'].iloc[0]
    date_of_joining = employee['Date of Joining'].iloc[0]
    department = employee['Department'].iloc[0]
    
    return f"{name} | {date_of_joining} | {department}"

# Example usage
print(display_employee_details("E123D", employee_data))

Nitin Bhole | 2016-11-01 00:00:00 | Products

In [15]:
def sort_employees_by_joining_date(data):
    # Convert 'Date of Joining' to datetime format for sorting
    data['Date of Joining'] = pd.to_datetime(data['Date of Joining'], dayfirst=True)
    
    # Sort by Date of Joining
    sorted_data = data.sort_values(by='Date of Joining')
    return sorted_data[['EID', 'Employee Name', 'Date of Joining', 'Department']]

# Example usage
print(sort_employees_by_joining_date(employee_data))

      EID      Employee Name Date of Joining   Department
12  E620Y     Kumar Abhishek      2014-12-01    Semantics
7   E184A  Kushmakar Krishna      2015-01-01     Products
4   E098Z    Rajendra Prabhu      2015-11-11    Semantics
8   E104S     Amarnath Patil      2015-11-29  Engineering
3   E123B      Pankaj Bansal      2015-12-01     Research
1   E876G     Mayur Kulkarni      2016-06-03    Semantics
2   E798G      Anurag Pandey      2016-07-04           IT
0   E123D        Nitin Bhole      2016-11-01     Products
5   E294M     Sumanth Mishra      2017-09-04     Research
6   E972L          Sai Bodha      2017-11-11    Semantics
10  E983Q     Chakshu Bansal      2017-12-04     Products
9   E093V   Shashidhar Reddy      2018-11-29  Engineering
13  E109U     Sanket Gibbidi      2019-01-11     Products
11  E092E       Mitali Gupta      2019-05-02    Semantics